# The command that runs the program. Commented out because it is not run when the interpreter command is set
run = "pip install -r requirements.txt"
# The primary language of the repl. There can be others, though!
language = "python3"
# The main file, which will be shown by default in the editor.
# entrypoint = "blackjack.py"
# A list of globs that specify which files and directories should
# be hidden in the workspace.
hidden = ["venv", ".config", "**/__pycache__", "**/.mypy_cache", "**/*.pyc"]

